include vhsdecode/format_defs/*.txt
include Cargo.toml
build/versionfile.txt
recursive-include rust *.rs
exclude CMake*
exclude PAL_*
exclude tests.py
exclude gen_*
exclude compile.bat*
exclude README_*
exclude advanced_flags.md
exclude .flake8
exclude vcpkg*
exclude ld-ldf-reader.c
prune .github
prune filter_tune
prune tools
prune notebooks
prune scripts
prune vhs_scripts
prune cmake_modules
prune docs
prune assets
prune resources
