{
   CFBundleName = tbc-tools;
   CFBundleDisplayName = tbc-tools;
   CFBundleIdentifier = "tbc.tools";
   CFBundleVersion = "";
   CFBundleShortVersionString = "";
   CFBundleInfoDictionaryVersion = "6.0";
   CFBundlePackageType = APPL;
   CFBundleExecutable = ld-analyse;
   CFBundleIconFile = "tbc-tools.icns";
}