<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" 
           Name="ld-decode" 
           Language="1033" 
           Version="$(var.Version)" 
           Manufacturer="ld-decode contributors" 
           UpgradeCode="12345678-1234-1234-1234-123456789012">
    
    <Package InstallerVersion="200" 
             Compressed="yes" 
             InstallScope="perMachine" 
             Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="ld-decode" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="AppFiles" />
      <ComponentGroupRef Id="ProgramMenuShortcut" />
    </Feature>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="ld-decode" />
      </Directory>
      
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="ld-decode"/>
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="EnvironmentPath" Guid="22222222-3333-4444-5555-666666666666" Win64="yes">
        <RegistryValue Root="HKLM" Key="Software\ld-decode" Name="Path" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
        <Environment Id="PATH" Name="PATH" Value="[INSTALLFOLDER]" 
                     Permanent="no" Part="last" Action="set" System="yes" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="ProgramMenuShortcut" Directory="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcutComponent" Guid="33333333-4444-5555-6666-777777777777" Win64="yes">
        <Shortcut Id="ApplicationStartMenuShortcut" 
                  Name="ld-decode" 
                  Description="Software defined LaserDisc decoder"
                  Target="[INSTALLFOLDER]ld-decode.exe" 
                  WorkingDirectory="INSTALLFOLDER"
                  Icon="LdDecodeIcon.exe"
                  IconIndex="0" />
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\ld-decode" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <Icon Id="LdDecodeIcon.exe" SourceFile="$(var.BundleSourceDir)\ld-decode.exe" />
    
    <Property Id="ARPPRODUCTICON" Value="LdDecodeIcon.exe" />
    <Property Id="ARPHELPLINK" Value="https://github.com/happycube/ld-decode" />
    <Property Id="ARPURLINFOABOUT" Value="https://github.com/happycube/ld-decode" />
  </Product>
</Wix>
