[Desktop Entry]
Encoding=UTF-8
Type=Application
NoDisplay=false
Terminal=false
Exec=ld-analyse
Icon=ld-analyse
Type=Application
Name=ld-analyse
MimeType=application/video-tbc
Comment=
Categories=AudioVideo;Video;Utility;
