# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*
/ld-analyse/ld-analyse
/ld-chroma-decoder/encoder/ld-chroma-encoder
/ld-chroma-decoder/ld-chroma-decoder
/ld-dropout-correct/ld-dropout-correct
/ld-export-metadata/ld-export-metadata
/ld-process-vbi/ld-process-vbi
/ld-process-efm/ld-process-efm
/ld-lds-converter/ld-lds-converter
/ld-discmap/ld-discmap
/ld-diffdod/ld-diffdod
/ld-disc-stacker/ld-disc-stacker
/ld-process-vits/ld-process-vits
/library/filter/testfilter/testfilter
/library/tbc/testvbidecoder/testvbidecoder

