name: Tests

on:
  push:
  pull_request:
  release:

jobs:
  tests:
    name: Build and test
    runs-on: ubuntu-18.04
    steps:

    - uses: actions/checkout@v2

    - uses: actions/checkout@v2
      with:
        repository: happycube/ld-decode-testdata
        path: testdata

    - name: Install dependencies
      timeout-minutes: 10
      run: |
        sudo apt-get update
        # This list is from: https://github.com/happycube/ld-decode/wiki/Installation
        sudo apt-get install -y --no-install-recommends clang libopencv-dev libfann-dev python3-numpy python3-scipy python3-matplotlib git qt5-default libqwt-qt5-dev libfftw3-dev python3-tk python3-pandas python3-numba libavformat-dev libavcodec-dev libavutil-dev ffmpeg openssl pv

    - name: Build toplevel
      timeout-minutes: 5
      run: |
        make

    - name: Build tools
      timeout-minutes: 15
      run: |
        cd tools
        qmake -recursive
        make

    - name: Run testfilter
      timeout-minutes: 5
      run: tools/library/filter/testfilter/testfilter

    - name: Decode NTSC CAV
      timeout-minutes: 10
      run: |
        scripts/test-decode \
          --decoder mono --decoder ntsc2d --decoder ntsc3d \
          --expect-frames 29 \
          --expect-bpsnr 43.3 \
          --expect-vbi 9151563,15925840,15925840 \
          --expect-efm-samples 40572 \
          testdata/ve-snw-cut.lds

    - name: Decode NTSC CLV
      timeout-minutes: 10
      run: |
        scripts/test-decode \
          --expect-frames 4 \
          --expect-bpsnr 37.6 \
          --expect-vbi 9167913,15785241,15785241 \
          testdata/issues/176/issue176.lds

    - name: Decode PAL CAV
      timeout-minutes: 10
      run: |
        scripts/test-decode --pal \
          --decoder mono --decoder pal2d --decoder transform2d --decoder transform3d \
          --expect-frames 4 \
          --expect-bpsnr 40.6 \
          --expect-vbi 9151527,16065688,16065688 \
          --expect-efm-samples 5292 \
          testdata/pal/jason-testpattern.lds

    - name: Decode PAL CLV
      timeout-minutes: 10
      run: |
        scripts/test-decode --pal --no-efm \
          --expect-frames 9 \
          --expect-bpsnr 31.8 \
          --expect-vbi 0,8449774,8449774 \
          testdata/pal/kagemusha-leadout-cbar.ldf
