name: Tests

on:
  push:
  pull_request:
  release:

jobs:
  qt6:
    name: Build with Qt 6
    runs-on: ubuntu-22.04
    steps:

    - uses: actions/checkout@v2
      with:
          submodules: true
          fetch-depth: 0

    - name: Install dependencies
      timeout-minutes: 10
      run: |
        sudo apt-get update
        # Based on: https://github.com/happycube/ld-decode/wiki/Installation
        # Added: cmake qt6-base-dev libgl-dev (needed by QtGui)
        sudo apt-get install -y --no-install-recommends git cmake make python3-setuptools python3-numpy python3-scipy python3-matplotlib qt6-base-dev libgl-dev libfftw3-dev python3-numba libavformat-dev libavcodec-dev libavutil-dev ffmpeg libsqlite3-dev libqt6sql6-sqlite

    - name: Set up build dir
      timeout-minutes: 1
      run: mkdir build

    - name: Configure
      timeout-minutes: 5
      run: cd build && cmake -DCMAKE_BUILD_TYPE=RelWithDebInfo ..

    - name: Build
      timeout-minutes: 15
      run: make -C build VERBOSE=1

    - name: Install
      timeout-minutes: 5
      run: make -C build install DESTDIR=/tmp/staging && ls -lR /tmp/staging

    - name: Run tests
      timeout-minutes: 10
      run: cd build && ctest --output-on-failure
