name: Tests

on:
  push:
  pull_request:
  release:

jobs:
  tests:
    name: Build and test
    runs-on: ubuntu-20.04
    steps:

    - uses: actions/checkout@v2

    - uses: actions/checkout@v2
      with:
        repository: happycube/ld-decode-testdata
        path: testdata

    - name: Install dependencies
      timeout-minutes: 10
      run: |
        sudo apt-get update
        # This list is from: https://github.com/happycube/ld-decode/wiki/Installation
        sudo apt-get install -y --no-install-recommends clang libfann-dev python3-numpy python3-scipy python3-matplotlib git qt5-default libqwt-qt5-dev libfftw3-dev python3-tk python3-pandas python3-numba libavformat-dev libavcodec-dev libavutil-dev ffmpeg openssl pv

    - name: CMake
      timeout-minutes: 15
      run: cmake .

    - name: Build
      timeout-minutes: 15
      run: make prefix=/usr

    - name: Install
      timeout-minutes: 5
      run: make install prefix=/usr DESTDIR=/tmp/staging

    - name: Run tests
      timeout-minutes: 10
      run: make check
